body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.film {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.film h2 {
    margin-top: 0;
}

.review {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-left: 3px solid #ccc;
}
